In [2]:
import pandas as pd

In [4]:
df= pd.read_csv("Apple-Twitter-Sentiment-DFE.csv",encoding='ISO-8859-1')

In [5]:
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL

In [6]:
df.isnull().sum()

_unit_id                   0
_golden                    0
_unit_state                0
_trusted_judgments         0
_last_judgment_at        103
sentiment                  0
sentiment:confidence       0
date                       0
id                         0
query                      0
sentiment_gold          3783
text                       0
dtype: int64

In [7]:
df["sentiment"].value_counts()

3               2162
1               1219
5                423
not_relevant      82
Name: sentiment, dtype: int64

In [8]:
df.tail()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
3881,623499442,True,golden,13,NaN,3,0.7757,Tue Dec 09 22:08:53 +0000 2014,5.420000e+17,#AAPL OR @Apple,5\n3,(Via FC) Apple Is Warming Up To Social Media -...
3882,623499450,True,golden,16,NaN,3,0.6225,Tue Dec 09 22:18:27 +0000 2014,5.420000e+17,#AAPL OR @Apple,3\n1,RT @MMLXIV: there is no avocado emoji may I as...
3883,623499486,True,golden,14,NaN,5,0.9347,Tue Dec 09 23:45:59 +0000 2014,5.420000e+17,#AAPL OR @Apple,5,@marcbulandr I could not agree more. Between @...
3884,623499514,True,golden,13,NaN,1,0.9230,Wed Dec 10 00:48:10 +0000 2014,5.420000e+17,#AAPL OR @Apple,1,My iPhone 5's photos are no longer downloading...
3885,623517290,True,golden,17,NaN,5,0.8938,Tue Dec 09 09:01:25 +0000 2014,5.420000e+17,#AAPL OR @Apple,5\n3\nnot_relevant,RT @SwiftKey: We're so excited to be named to ...

In [10]:
df.describe(include="object").T

,count,unique,top,freq
_unit_state,3886,2,finalized,3782
_last_judgment_at,3783,388,12/12/14 2:56,33
sentiment,3886,4,3,2162
date,3886,3795,Thu Dec 04 20:39:58 +0000 2014,5
query,3886,1,#AAPL OR @Apple,3886
sentiment_gold,103,9,1,39
text,3886,3219,"RT @OneRepublic: Studio at 45,000 ft. One out...",304

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
_unit_id,3886.0,6.234975e+08,1.171906e+03,6.234955e+08,6.234965e+08,6.234975e+08,6.234984e+08,6.235173e+08
_trusted_judgments,3886.0,3.687082e+00,2.004595e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,2.700000e+01
sentiment:confidence,3886.0,8.295263e-01,1.758642e-01,3.327000e-01,6.744750e-01,8.112500e-01,1.000000e+00,1.000000e+00
id,3886.0,5.410039e+17,7.942752e+14,5.400000e+17,5.400000e+17,5.410000e+17,5.420000e+17,5.420000e+17

In [12]:
df.shape

(3886, 12)

In [14]:
df.head(15)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL
5,623495518,True,golden,13,NaN,3,0.5975,Mon Dec 01 20:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,#AAPL:5 Rocket Stocks to Buy for December Gain...
6,623495519,True,golden,13,NaN,5,0.8468,Mon Dec 01 20:32:45 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,Top 3 all @Apple #tablets. Damn right! http://...
7,623495520,True,golden,9,NaN,5,0.6736,Mon Dec 01 20:34:31 +0000 2014,5.400000e+17,#AAPL OR @Apple,5\n3,CNBCTV: #Apple's margins better than expected?...
8,623495521,True,golden,15,NaN,3,0.7997,Mon Dec 01 20:36:47 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,Apple Inc. Flash Crash: What You Need to Know ...
9,623495522,False,finalized,3,12/12/14 0:52,3,0.6360,Mon Dec 01 20:45:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,#AAPL:This Presentation Shows What Makes The W...
10,623495523,True,golden,12,NaN,1,1.0000,Mon Dec 01 20:46:01 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,WTF MY BATTERY WAS 31% ONE SECOND AGO AND NOW ...
11,623495524,True,golden,9,NaN,3,0.6658,Mon Dec 01 20:47:12 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,Apple Watch Tops Search Engine List of Best We...
12,623495525,True,golden,11,NaN,3,0.8381,Mon Dec 01 21:00:15 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,"The Best-Designed #iPhone #Apps In the World, ..."
13,623495526,False,finalized,3,12/12/14 21:38,5,1.0000,Mon Dec 01 21:03:32 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,RT @peterpham: Bought my @AugustSmartLock at t...
14,623495527,True,golden,17,NaN,1,1.0000,Mon Dec 01 21:09:50 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,@apple Contact sync between Yosemite and iOS8 ...

## Business Understanding

### Overview

Apple and Google are two of the biggest technology companies, constantly competing in markets such as smartphones, laptops, cloud services, and operating systems. Customer perception of their products is critical to their success, as sentiment expressed on social media platforms like Twitter can influence brand reputation, stock prices, and customer purchasing decisions.

### Business Problem
The challenge is to automate the classification of Twitter sentiment regarding Apple and Google products.
By developing a sentiment analysis model, businesses can monitor public perception, identify customer concerns, and adjust their marketing or product development strategies accordingly.


### Why Machine Learning and Deep Learning?
- To build an accurate and scalable sentiment analysis model, we will leverage both traditional machine learning (ML) models and deep learning (DL) techniques.
- Each approach has unique strengths, and comparing them will help us determine the most effective method for classifying sentiment in tweets.


### Key Stakeholders
The primary stakeholders for this project are Apple’s Product, Marketing, and Customer Experience Teams, who rely on customer sentiment analysis to drive strategic decisions. 
Other relevant stakeholders include:

- Marketing & Branding Team: To design targeted campaigns based on sentiment trends and customer feedback.

- Product Development Team: To identify product-related concerns, improve features, and enhance user experience based on sentiment insights.

- Customer Support Team: To proactively address negative sentiment and improve customer satisfaction by resolving issues efficiently.

- Executive Leadership: To make data-driven business decisions regarding Apple’s brand perception, customer engagement, and future innovations.


### Success Metrics
- Model Performance: The model’s effectiveness will be measured using accuracy, precision, recall, F1-score, and AUC-ROC to ensure reliable sentiment classification.

- Business Impact: Improved ability for Apple’s product and marketing teams to track customer sentiment in real-time, leading to better-informed product decisions and marketing strategies.

- Scalability & Efficiency: The sentiment analysis system should be able to process large volumes of tweets efficiently, providing real-time insights into customer perception.

- Cost-Effectiveness: By automating sentiment analysis, Apple can reduce manual effort, minimize human bias, and make data-driven decisions faster, leading to better customer engagement strategies with optimized marketing and product development investments.

### Technologies used
- Python-Jupyter notebook
- Pandas
- Numpy
- NLTK
- TF- IDF
- Word Embeddings (Word2Vec, GloVe)
- Scikit-Learn